@()
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Results</title>
    <link href=@routes.Assets.versioned("stylesheets/bootstrap.min.css") rel="stylesheet">

</head>
<body>

<div class="container" style="margin-top:40px">


    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active" onclick="queryactive();"><a href="#query" aria-controls="home" role="tab" data-toggle="tab">Query</a></li>
            <li role="presentation" id="repo" onclick="report();"><a href="#reports" aria-controls="profile" role="tab" data-toggle="tab">Reports</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content"  style="margin-top: 20px; border: 1px solid #ddd; padding: 10px;">
            <div role="tabpanel" class="tab-pane active" id="query">
                <label for="querytext">Country name/code</label>
                <input type="text" class="form-control" id="countryinput" placeholder="country name/code">
                <button class="btn btn-default" onclick="query();">Submit</button>
                <div id = "op">  </div>
            </div>

            <div id = "reportview">  </div>
        </div>

    </div>

</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src=@routes.Assets.versioned("javascripts/jquery.min.js")></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src=@routes.Assets.versioned("javascripts/bootstrap.min.js")></script>

<script type="text/javascript">
  var query = function() {
            var input = $("#countryinput").val();
            $.ajax({
                  url: "/query/" + input
                }).done(function(data) {
                $("#op").html(data);
                });
            }

           var report = function() {
           $("#query").hide();
           $("#reportview").show();
            $.ajax({
                  url: "/reports"
                }).done(function(data) {
                $("#reportview").html(data);
                });
           }

            var queryactive = function() {
            $("#reportview").hide();
           $("#query").show();
           }


    </script>
</body>
</html>